{% extends "map_app_lippold/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
{% endblock %}

{% block app_content %}
    <center>
        <img src="/static/map_app_lippold/images/514 Project Proposal-1.jpg" width="100%">
    </center>
    <center>
        <img src="/static/map_app_lippold/images/514 Project Proposal-2.jpg" width="100%">
    </center>
    <center>
        <img src="/static/map_app_lippold/images/514 Project Proposal-3.jpg" width="100%">
    </center>
    <center>
        <img src="/static/map_app_lippold/images/514 Project Proposal-4.jpg" width="100%">
    </center>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}